@import './theme.scss';

.background {
    min-width: 300px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.loginInput {
    margin-top: 15px;
}

.loginButton {
    margin-top: 30px;
}