@import './theme.scss';

.background {
    max-width: 400px;
    background: $primary-main;
    cursor: default;
    height: fit-content;
    margin-top: 20px;
}

.challengeInfo {
    margin-top: 10px;
}

.acceptButton {
    margin-right: auto;
}

.expand {
    transform: rotate(0deg);
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
}

.expandOpen {
    transform: rotate(180deg);
}

.reportBackground {
    display: flex;
    flex-direction: column;
}

.saveReportButton {
    margin-top: 20px;
}