@import './theme.scss';

.background {
    height: calc(100% - 71px);
    padding-bottom: 71px;
    overflow: auto;
    background-color: $primary-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}